// ====================================
// 共通で使う変数を設定
// ====================================
//breakPoint
$break-point-pc = 1000px
$break-point-tab = 960px
$break-point-sp = 767px
$base-size = 5
// color
$clr-white = #eeeeee
$clr-black = #333333
$clr-err = #e53935
$clr-weak = #a0a0a0
$clr-strong = #ff6633
$clr-link = #0277bd
$clr-hover = #0277bd

//transition ease
$cubic = cubic-bezier(0.13, 1.05, 0.96, 1)
$cubicHigh = cubic-bezier(0.18, 1.07, 0.55, 1.07)