/* ==========================================================================
 margin
========================================================================== */
.u-m-c
  margin-right: auto !important
  margin-left: auto !important
/* Top margin */
for $value in (1)..(25)
  .u-mt-{$value * $base-size - $base-size}
    margin-top: $base-size * $value - $base-size !important
/* Right margin */
for $value in (1)..(25)
  .u-mr-{$value * $base-size - $base-size}
    margin-right: $base-size * $value - $base-size !important
/* Bottom margin */
for $value in (1)..(25)
  .u-mb-{$value * $base-size - $base-size}
    margin-bottom: $base-size * $value - $base-size !important
/* Left margin */
for $value in (1)..(25)
  .u-ml-{$value * $base-size - $base-size}
    margin-left: $base-size * $value - $base-size !important
@media screen and (max-width: $break-point-sp)
  /* Top margin */
  for $value in (1)..(25)
    .u-mt-sp-{$value * $base-size - $base-size}
      margin-top: $base-size * $value - $base-size !important
  /* Right margin */
  for $value in (1)..(25)
    .u-mr-sp-{$value * $base-size - $base-size}
      margin-right: $base-size * $value - $base-size !important
  /* Bottom margin */
  for $value in (1)..(25)
    .u-mb-sp-{$value * $base-size - $base-size}
      margin-bottom: $base-size * $value - $base-size !important
  /* Left margin */
  for $value in (1)..(25)
    .u-ml-sp-{$value * $base-size - $base-size}
      margin-left: $base-size * $value - $base-size !important