/* ==========================================================================
 width
========================================================================== */
.u-w-auto {
  width: auto !important;
}

.u-w-full {
  width: 100% !important;
}

.u-w-threeQuarter {
  width: 75% !important;
}

.u-w-half {
  width: 50% !important;
}

.u-w-quarter {
  width: 25% !important;
}