//- - var image_path = './img'
//- - var css_path = './css'
- var js_path = './js'
- var domain = 'http://localhost:8080/'
-
  var pages = {
    top : {
      url : domain+'index.html',
      name : 'トップページ',
      title : 'トップページ',
      description : 'トップページです',
      keywords : 'トップページ',
      image_path: './',
      image : './img/ogp.jpg'
    },
    content_a : {
      url : domain+'content_a.html',
      name : 'コンテントA',
      title : 'コンテントA',
      description : 'コンテントAです',
      keywords : 'コンテントA',
      image_path: './',
      image : './img/ogp.jpg'
    },
    content_b : {
      url : domain+'content_b.html',
      name : 'コンテントB',
      title : 'コンテントB',
      description : 'コンテントBです',
      keywords : 'コンテントB',
      image_path: './',
      image : './img/ogp.jpg'
    },
    content_c : {
      url : domain+'content_c.html',
      name : 'コンテントC',
      title : 'コンテントC',
      description : 'コンテントCです',
      keywords : 'コンテントC',
      image_path: './',
      image : './img/ogp.jpg'
    },
    content_d : {
      url : domain+'content_d.html',
      name : 'コンテントD',
      title : 'コンテントD',
      description : 'コンテントDです',
      keywords : 'コンテントD',
      image_path: './',
      image : './img/ogp.jpg'
    }
  }