doctype html
block vars
html(lang="ja")
  head
    include ./include/_inc_head.pug

  body(class=key)
    .l_contents
      include ./include/_inc_header.pug
      include ./include/_inc_nav.pug
      block contents
    include ./include/_inc_footer.pug