@charset "utf-8";
/* ==========================================================================
 Footer
========================================================================== */
.l-footer {}


@media screen and (max-width: $break-point-sp) {
  .l-footer {}
}