@charset "utf-8";
/* ==========================================================================
 Main
========================================================================== */



@media screen and (max-width: $break-point-sp) {
	.l-main{
	}
}
