/* ==========================================================================
    現在top画面でのみ使われるレイアウト,中央揃え画面一杯
=============================================================== */

.top {
    display:flex
    justify-content: center;
    align-items : center;
    background:$clr-back
    width: 100vw;
    height: 100vh;
}
.l-topBlock {
    width: 540px
    height: 370px
    background: $clr-white
    box-shadow: 0 3px 8px rgba(0,0,0,0.11);
    border-radius: 5px;
    padding: 55px;
    box-sizing: border-box;
    text-align: center;
}